# Dummy Daten

## Initialisierung

In [1]:
from faker import Faker
import pandas as pd

## Dummy Daten Erzeuzgen

In [2]:
fake = Faker()
fake_it = Faker('it_IT')
print("Name: " + fake.name())
print("Italian name: " + fake_it.name())
print("IBan: " + fake.iban())
print("Credit card number: " + fake.credit_card_number())
print("Email: ", fake.email())

Name: Manuel Rhodes
Italian name: Dott. Amico Solari
IBan: GB31ZEGB48659906987969
Credit card number: 3523218949883755
Email:  alexanderhopkins@gmail.com

## Dummy Dataset erzeugen

In [3]:
def dummy_rows(num=1):
        fake = Faker("de_DE")
        return [{"vorname":fake.first_name(),
                 "nachname":fake.last_name(),
                 "strasse":fake.street_name(),
                 "hausnummer":fake.building_number(),
                 "postleitzahl":fake.postcode(),
                 "ort":fake.city(), 
                 "email":fake.email()} for x in range(num)]
         

df = pd.DataFrame(dummy_rows(100))
df

,vorname,nachname,strasse,hausnummer,postleitzahl,ort,email
0,Gustav,Heser,Paulo-Wesack-Weg,54,93754,Hansestadttralsund,henckrocco@wilmsen.org
1,Steve,Losekann,Ian-auch Schlauchin-Ring,40,12611,Northeim,svea81@web.de
2,Heinz-Wilhelm,Klemt,Melissa-Paffrath-Gasse,2/0,24448,Wittmund,zlosekann@roemer.com
3,Sandra,Liebelt,Gitta-Pieper-Allee,1,46599,Burgdorf,heydrichgerlind@googlemail.com
4,Elisabet,Girschner,Sigismund-Roskoth-Allee,3/1,98787,Freudenstadt,freudenbergerhiltraud@beer.de
...,...,...,...,...,...,...,...
95,Leo,Harloff,Strohplatz,6/3,00117,Borken,gertrudstroh@yahoo.de
96,Kenan,Wilms,Helena-Bachmann-Platz,2/5,39929,Roth,berthazahn@neuschaefer.com
97,Carlo,Warmer,Hübelstr.,8,04237,Hünfeld,francescojunitz@boucsein.org
98,Dominic,Röhrdanz,Zehra-Bruder-Ring,5/6,93012,Sankt Goar,goetzvan-der-dussen@hornich.de
99,Felizitas,Hentschel,Kallertweg,8,05420,Hoyerswerda,yholt@aol.de

## Daten anonymisieren

In [4]:
df = pd.DataFrame(dummy_rows(5))
df

,vorname,nachname,strasse,hausnummer,postleitzahl,ort,email
0,Hans-Christian,Seip,Döhnallee,294,90711,Ludwigslust,wernerrogner@googlemail.com
1,Klaas,Döhn,Heckerstraße,436,94847,Griesbach Rottal,ehrentrauddoerr@rosemann.de
2,Bela,Fechner,Thea-Eberth-Gasse,3/0,70231,Griesbach Rottal,birte54@mohaupt.net
3,Donata,Berger,Conradistraße,9/0,46932,Diepholz,traude64@yahoo.de
4,Eugenie,Mosemann,Binnerring,0/0,25993,Neustrelitz,edelbertniemeier@googlemail.com

In [5]:
fake = Faker("de_DE")
def update_map(key, map, fake_method):
    key = key.lower()
    if key not in map:
        map[key] = fake_method()  
    return map[key], map

map_vorname = {}
map_nachname = {}
map_strasse = {}
map_hausnummer = {}
for i, row in df.iterrows():
    # vorname und nachname
    
    key = row['vorname'] + row['nachname']
    vorname, map_vorname = update_map(key, map_vorname, fake.first_name)
    nachname, map_nachname = update_map(key, map_nachname, fake.last_name)
    strasse, map_strasse = update_map(row['strasse'], map_strasse, fake.street_name)
    hausnummer, map_hausnummer = update_map(row['hausnummer'], map_hausnummer, fake.building_number)
    df.at[i,'vorname'] = vorname
    df.at[i,'nachname'] = nachname
    df.at[i,'strasse'] = strasse
    df.at[i,'hausnummer'] = hausnummer

df

,vorname,nachname,strasse,hausnummer,postleitzahl,ort,email
0,Richard,Ritter,Dieter-Scheuermann-Straße,3/9,90711,Ludwigslust,wernerrogner@googlemail.com
1,Frank-Peter,Biggen,Karl-Hermann-Ernst-Ring,22,94847,Griesbach Rottal,ehrentrauddoerr@rosemann.de
2,Milica,Stey,Serpil-Jäkel-Platz,643,70231,Griesbach Rottal,birte54@mohaupt.net
3,Emil,Bolnbach,Thorben-Pergande-Weg,5,46932,Diepholz,traude64@yahoo.de
4,Claus,Lorch,Monika-Binner-Ring,09,25993,Neustrelitz,edelbertniemeier@googlemail.com